body{
        background-color: black;
}
h1{
text-align: center;
color: white;
font-size: 50px;

}
#content{
        width: 1000px;
        margin: 50px auto;
}
#content ul li{
        float: left;
        margin-right: 20px;
        border: 1px solid white;
}
#content ul li a{
        width: 175px;
        height: 270px;
        display: block;
        position: relative;
        perspective: 400px;
}
#content ul li a div{
        position: absolute;
        width: 175px;
        height: 270px;
}
#content ul li a div:first-child{
        z-index: 1;
        transition: 0.8s all;
        transform: rotateY(0);
        backface-visibility: hidden;
}
#content ul li a div:last-child{
        z-index: -1;
        backface-visibility: hidden;
        background-image: url(../考试图片素材/images/bg.jpg);
        color: aliceblue;
        transition: 0.8s all;
        transform: rotateY(-180deg);
}
#content ul li a:hover div:first-child{
        transform: rotateY(180deg);
        z-index: -1;
}
#content ul li a:hover div:last-child{
        transform:rotateY(0);
        z-index: 1;
}
h3{
        color: black;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px dashed white;
}
p{
        font-size: 15px;
        color: black;
}